:root{
    --brown: #B65A3C;
    --pale-yellow: #CCCC25;
    --chocolate: #3B3734;
    --light-black: #2f2f2f;
    --light-gray: #4f4f4f;
    --primary :#007BFF;
    --success: #28A745;
    --warning: #FFC107;
}

*,::before,::after{
    box-sizing: border-box;
}

html{
    /* font: 62.5% "Monospace", sans-serif; */
    height: 100%;
}

body{
    min-height: 100%;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-thumbnail{
    max-height: 40vh;
    width: max-content;
}